<section id="contact" class="contact">
  <div class="contact__inner container">
    <div class="contact__box">
      <div class="contact__header">
        <p class="section-label">Contact me</p>
        <h2 class="section-title">Let's work together</h2>
      </div>

      <div class="contact__more">
        <h3 class="contact__subheadline">Got a problem to solve?</h3>
        <p class="contact__text">
          Encourage people to contact you and describe what role you are interested in. Show that
          you will add value to their projects through your work. <br /><br />
          Need a Frontend developer? <strong>Let's talk!</strong>
        </p>
      </div>
    </div>

    <form class="contact__form" novalidate>
      <div class="contact__fields">
        <div class="contact__field">
          <label class="contact__label" for="contact-name">What's your name?</label>
          <input
            class="contact__input"
            id="contact-name"
            type="text"
            placeholder="Your name goes here"
          />
        </div>

        <div class="contact__field">
          <label class="contact__label" for="contact-email">What's your email?</label>
          <input
            class="contact__input"
            id="contact-email"
            type="email"
            placeholder="youremail@email.com"
          />
        </div>

        <div class="contact__field">
          <label class="contact__label" for="contact-message">How can I help you?</label>
          <textarea
            class="contact__input contact__input--message"
            id="contact-message"
            rows="1"
            placeholder="Hello Lukas, I am interested in..."
          ></textarea>
        </div>
      </div>

      <div class="contact__privacy">
        <label class="contact__checkbox">
          <input type="checkbox" />
          <span>
            I've read the <a routerLink="/privacy-policy">privacy policy</a> and agree to the
            processing of my data as outlined.
          </span>
        </label>
        <p class="contact__error">Please accept the privacy policy.</p>
      </div>
      <button class="btn contact__btn" type="submit" disabled>Say Hello ;)</button>
    </form>
  </div>
</section>
