@use 'sass:map';
@use 'variables' as *;
@use 'functions' as *;

// Spacing - fluid(mobile, desktop)

$spacing-page: fluid(16px, 96px);
$spacing-section: fluid(100px, 144px);

// Layout

$container-max-width: map.get($breakpoints, desktop);