@use 'all-styles' as *;

.footer {
  margin-top: $spacing-section;
  padding-bottom: 64px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Left

.footer__brand {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 32px;
}

.footer__logo img {
  width: 180px;
  height: auto;
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: $font-size-small;
}

// Center

.footer__copyright {
  align-self: center;
  font-family: $font-primary;
  color: $color-primary;
}

// Right

.footer__links {
  display: grid;
  flex: 1;
  justify-content: end;
  justify-items: start;
  gap: 8px;
  font-size: $font-size-small;
}
